.UserIcon{
    color: $color-white;
    font-size: 2.3rem;
}
.BarsIcon{
    color: $color-white;
    font-size: 2rem;
}
.navbar{
    z-index: 600;
}
/*.navbar-user{
    color: $color-white;
    display: flex;
    flex-direction: row;
    margin-bottom: 0;
    align-items: center;
    align-content: center;
    &--username{
        text-align: center;
        line-height: 2rem;
        margin-right: 2rem;
        margin-bottom: 0;
        font-size: $default-font-size;
    }
}*/